.user-page-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.user-page-header-left {
    display: flex;
    flex-direction: column;
    width: 900px;
}

.user-page-header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.export-button {
    width: 125px;
    height: 58px;
    cursor: pointer;
    border-radius: 8px;
    border: solid 1px #C2C9B7;
}

.export-button-img {
    width: 13px;
    height: 13px;
    margin-right: 5px;
}

.add-user-button-img {
    width: 13px;
    height: 13px;
    margin-right: 5px;
}

.add-user-button {
    width: 125px;
    height: 58px;
    cursor: pointer;
    color: white;
    background-color: #275300;
    border-radius: 8px;
    border: none;
}

.search-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: solid 1px #C2C9B7;
    width: 100%;
    gap: 10px;
    border-radius: 8px;
}

.filter-selection {
    width: 200px;
    height: 38px;
    border-radius: 8px;
    border: solid 1px #C2C9B7;
    padding-left: 10px;
    cursor: pointer;
}

.search-input {
    width: 100%;
    height: 38px;
    border-radius: 8px;
    border: solid 1px #C2C9B7;
    padding-left: 10px;
}

.user-list-container {
    width: 100%;
    overflow-x: auto;
    padding: 16px;
    margin-top: 20px;
    border: solid 1px #C2C9B7;
    border-radius: 10px;
}

.user-list-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
}

.user-list-table th, .user-list-table td {
    text-align: left;
    padding: 10px 8px;
    border-bottom: 1px solid #C2C9B7;
}

.edit-button {
    background-color: #275300;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 60px;
}

.suspend-button {
    background-color: white;
    color: red;
    border: solid 1px red;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .user-page-header {
        flex-direction: column;
        gap: 12px;
    }

    .user-page-header-left,
    .user-page-header-right {
        width: 100% !important; 
    }

    .search-container {
        width: 100% !important; 
        flex-direction: row;
        margin: 16px 0 !important;
    }

    .search-input{
        width: 100% !important; /* fill the row width */
    }

    .filter-selection {
        width: 100px;
        height: 38px;
    }

    .user-list-container {
        margin: 16px 0 !important;
        padding: 8px;
    }

    /* maintain table horizontal scrolling to prevent content overflow */
    .user-list-table {
        min-width: 600px;
    }
}
